* {
    background-color: rgb(255, 255, 255);
}

.buttons {
    margin: 5px;
    padding: 2px;
    display: block;
}

.visualizer {
    display: block;
    margin: 4px;
}

.sortBars {
    margin: 1px;
    padding: 1px;
    height: 1px;
    background-color: turquoise;
}

.mergeOptions {
    padding: 6px;
    border-radius: 4px;
    margin: 3px;
    background-color: white;
    border: 1px solid turquoise;
}

.mergeOptions:hover {
    background-color: turquoise;
    color: white;
}

.warning {
    border: 1px solid rgb(221, 177, 33);
}

.warning:hover {
    background-color: rgb(221, 177, 33);
    color: white;
}

.danger {
    border: 1px solid red;
}

.danger:hover {
    background-color: red;
    color: white;
}
